@import "globalVariable.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before {
  box-sizing: border-box;
}

html,body{
  font-family: $font-sans;
}
html,body{
  background-color: $accents-1;
  height: 100%;
}
*::after {
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: #000;
}
@for $i from 6 through 1 {
  $baseNumber:30px;
  h#{$i}{
    font-size: calc( #{$baseNumber} - (#{$i}px * 2) );
    padding-top: calc( #{$baseNumber} - (#{$i}px * 2) );
    padding-bottom: calc( #{$baseNumber} - (#{$i}px * 2) );
  }
}
p{
  padding-top: 1em;
  padding-bottom: 1em;
}
.docContainer{
  max-width:$geist-max-width-docPage;
  margin: 0 auto;
  padding-left: 24px;
  padding-right: 24px;
}
.docHeader{
  height: $header-height;
  background-color: $header-background;
  z-index: 1;
  top: 0;
  width: 100%;
  position: fixed;
  border-bottom: 1px solid $border-color;
  box-shadow: 0 0 15px 0 rgb(0 0 0 / 10%);

  .docContainer{
    line-height: $header-height;
    display: flex;
    justify-content: space-between;
  }
  .docLogo{

  }
  .docSideBar{
    display: none;
  }
}
.docPage{
  overflow: hidden;
  position: relative;
  background-color: $geist-background-docPage
}
.docMain{
  overflow: hidden;
  padding-top: calc(48px + #{$header-height});
  padding-bottom: 48px;
  margin: 0 auto;
  position: relative;
}
.docAside{
  border-right: 1px solid $accents-1;
  top: 0;
  width: 222px;
  background: #fff;
  >.docNavLinks {
    display: flex;
    flex-direction: column;
    >a{
      color: $accents-6;
      line-height: $bar-link-lineHeight;
      padding: 8px 0;
      font-size: $bar-link-size;
      &.active{
        font-weight: 700;
        color: $accents-9;
      }
    }
  }
}

.docContent{
  padding: 0 24px;
}

.docFooter{
  min-height: 256px;
  border-top: 1px solid $border-color;
  background-color: $accents-1;
}

@media screen and (max-width: 500px){
  .docHeader{
    background-color: #fff ;
    .docLogo{

    }

  }
  $translateXSize:48px;
  .docSideBar{
    height: $header-height;
    display: flex;
    align-items: center;
    .makabaka-icon{
      transition: .25s transform;
      transform: translateX( calc( (0px - 100% - #{$translateXSize}) ));
    }
  }
  .docContent{
    margin: 0 -24px;
  }
  .docAside{
    padding-left: 1em;
    width: 200px;
    border-left: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    border-right: none;
    border-bottom-left-radius: 2px;
    position: fixed;
    right: 0;
    z-index: 5;
    transition: .25s transform,opacity;
    transform: translateX(100%);
    .makabaka-icon{
      cursor: pointer;
    }
    &.openAside{
      transform: translateX(0);
      .docSideBar{
        margin-left: calc(-1em - 1px);
        padding-left:calc(1em + 1px);
        border:1px solid $geist-background-docPage;
        .makabaka-icon{
          transform: translateX(0);
        }
      }
    }
  }
}